:root {
  --mn-color: midnightblue;
  --lght-bkg-color-1: white;
  --lght-bkg-color-2: lightskyblue;
  --border: midnightblue;
  --hilite: greenyellow;


}
*{margin: 0; padding:0}
body{color: var(--mn-color); font-size: 18px; line-height: 140%; font-family: 'Karrik-Regular', sans-serif; background-image:  linear-gradient(var(--lght-bkg-color-1), var(--lght-bkg-color-2)); word-spacing: -1px;}
nav, .note, footer{font-size: 80%; line-height: 135%;}
nav{margin: 10px 0; padding: 10px; font-weight: 700; }
nav a, nav a:visited {padding: 2px 5px; position: fixed; z-index: 100;}
header{padding: 10px; position: fixed; z-index: -100; left: auto; font-size: 11vw; line-height: 15vw; color: lightgrey;}
header p{text-indent: 0; font-weight: 700; text-align: justify; letter-spacing: 5vw;}
nav, article, footer{margin:auto; max-width: 500px; }
article{}
h1, h2, h3, p, ul {margin-bottom: 8px; font-weight: 400;}
h1{margin: 130px 0 30px; padding-bottom: 30px; font-size: 2.4rem; line-height: 100%; border-bottom: 5px solid var(--border);}
em{font-family: 'Karrik-Italic', sans-serif; font-style: normal;}
h2{margin-top: 30px; font-size: 1.6rem; line-height: 110%;}
h3{margin-top: 20px; font-size: 1.2rem; line-height: 110%;}
p,{text-indent: 30px;}
hr{margin: 20px 0; height:1px; border: 0; background-color: var(--mn-color);}
ul li{margin-bottom: 5px; list-style-position: outside; list-style-type: square;}
ul li ul li{margin-bottom: 0; list-style-position: inside; }
footer{margin-top:30px; padding-top: 50px; border-top:10px solid var(--border);}
a, a:visited{margin: 0 2px; padding: 0 4px; color: var(--mn-color);  background-color: var(--hilite); text-decoration: none;}
a:hover{background-color: LightCyan; text-decoration: underline;}
#wcb{margin-top: 50px;}
img{width: 100%;}
