</article>
<footer>
  <p>-- Pyc pour <a href="https://lieu-subjectif.com/">Un lieu subjectif</a> - initiative qui fait suite à une discussion avec <a href="https://designersethiques.org/">Les designers éthiques</a> - avril/mai 2021</p>
  <p>❦ Ce site est libre de tout cookie et mesure d'audience.</p>
  <p>Ce site est réalisé avec <a href="https://11ty.dev/">11ty</a> et hébergé sur <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a>. Si vous souhaitez participer à ce projet, rejoignez le groupe <a href="https://gitlab.com/fuir-le-cloud">fuir-le-cloud</a> sur GitLab.
  </p>
  <p>Ce site est composé en <a href="http://velvetyne.fr/fonts/karrik/">Karrik</a> , une typography dessinée et développée par Jean-Baptiste Morizot de <a href="http://phantom-foundry.com/">Phantom-Foundry</a> et Lucas Le Bihan de <a href="https://bretagnebretagne.fr/">Bretagne Type Foundry</a>.</p>
  </footer>
</body>
</html>
