<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{{ title }} — Fuir le Cloud et les GAFAM</title>
  <meta name="Description" content="">
  <meta charset="utf-8">
  <meta name="generator" content="11ty">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/frugal.css">
  <link rel="stylesheet" href="/css/fonts.css">
</head>
  <body>
<!-- <header><p>fuir le Cloud... et les GAFAM</p></header> -->
